@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  min-height: 100vh;
}

.App {
  padding-top: 20vh;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: 80vh;
  background-color: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 20vh;
  color: rgb(0, 0, 0);
}

.ten {
  padding-top: 20vh;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: 80vh;
  background-color: #ff0000;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 20vh;
  color: rgb(0, 0, 0);
}

.pause button {
  width: 20vh;
  height: 10vh;

  font-size: 5vh;

  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  /* color: var(--primary-color); */
}
